label {
    font-weight: bold;
}

input {
    padding: 2%;
    border-radius: 5px;
    font-size: 1.25rem;
}

.input {
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}